<%= javascript_include_tag :defaults %>
<%= active_scaffold_includes %>
<html>
	<body>
	<title>
		TechnoMage - Composite Model Sample
	</title>
	<h1>TechnoMage - Composite Model Sample</h1>
	<%= yield %>
	</body>
</html>


